<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>Word Counter</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h1>Word Counter</h1>
            <p>Search a block of text for any word and count how many times that word appears.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          @if(Model.GetTotalMatches() == 1)
          {
            <h4>The word "@Model.GetInputSearch()" appears @Model.GetTotalMatches() time
            in the text you searched.</h4>
          }
          else
          {
            <h4>The word "@Model.GetInputSearch()" appears @Model.GetTotalMatches() times
            in the text you searched.</h4>
          }

          <p>@Model.GetInputText()</p>
        </div>
      </div>
    </div>
  </body>
</html>
